{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/main/index.css',
            'css/mc780.css',
            'css/today-field.css',
            'css/base.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <link rel="canonical" href="{{ url_for('index') }}">
{% endblock styles %}

{% block page_body %}
<div id="idef" class="alert alert-warning">
  <div class="today-field"></div>
  <div class="message-text">
    Сайт в стадии разработки, попробуйте зайти позже.
  </div>
</div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/main/index.js',
            'js/format-footer.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/main/index.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
